.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  padding: 0px;
  display: inline-block;
  position: absolute;
  top: 14%;
  left: 26.7%;
  z-index: 1000;
}

li {
  display: inline-block;
}


/*  FrontSection START */
#FrontSect {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: auto auto 63% auto;
  grid-template-areas:
      "Nav Nav Nav"
      ". . logo"
      "GetInTouch MaintainAble WhatWeDo"
      ". . AndYet";
  position: absolute;
  top: 10%;
  left: 30%;
}

#navigation {
  grid-area: Nav;
}

#FrontSect img:nth-of-type(1) {
  grid-area: logo;
  width: 65%;
  position: relative;
  top: 55px;
  left: 74px;
}


#FrontSect img:nth-of-type(2) {
  grid-area: GetInTouch;
}

#FrontSect img:nth-of-type(3) {
  grid-area: MaintainAble;
}

#FrontSect img:nth-of-type(4) {
  grid-area: WhatWeDo;
}

#FrontSect h6 {
  grid-area: AndYet;
  background-color: black;
  color: white;
  font-size: 16px;
  text-align: center;
  position: relative;
  top: 60px;
  left: 6px;
  width: 210px;
  height: 26px;
}


/*  FrontSection END */









/*  GetInTouchSection START */

.GetInTouchSect {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 2.5fr;
  grid-template-rows: 1fr 0.4fr 1.6fr 1.5fr 1fr;
  gap: 0px 15px;
  grid-template-areas:
    "Knapper . . . ."
    "Banner ThereForYou ThereForYou ThereForYou ThereForYou"
    "Banner FyldTekst FyldTekst FyldTekst FyldTekst"
    "Banner Billede1 Billede2 Billede3 ."
    "Banner . . GetInTouch .";
  width: 38%;
  position: absolute;
  top: 10%;
  left: 30%;
}

.Knapper { grid-area: Knapper; }

.Banner { grid-area: Banner; }

.ThereForYou { grid-area: ThereForYou; }

.FyldTekst { grid-area: FyldTekst; }

.Billede1 { grid-area: Billede1; }

.Billede2 { grid-area: Billede2; }

.Billede3 { grid-area: Billede3; }

.GetInTouch { 
  grid-area: GetInTouch;
  position: relative;
  top: -62%;
  left: 40%;
  background-color: black;
  color: white;
  height: 29px;
  width: 120px;
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 5px;
  margin-top: -50px;
  font-size: 20px;
}


/*  GetInTouchSection END */

/*  MaintainAble START */

.MaintainAbleSect {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 2.5fr;
  grid-template-rows: 1fr 0.4fr 1.6fr 1.5fr 1fr;
  gap: 0px 15px;
  grid-template-areas:
    "Knapper . . . ."
    "Banner ThereForYou ThereForYou ThereForYou ThereForYou"
    "Banner FyldTekst FyldTekst FyldTekst FyldTekst"
    "Banner . . . ."
    "Banner . . . MaintainAble";
  width: 38%;
  position: absolute;
  top: 10%;
  left: 30%;
}

.KnapperM { grid-area: Knapper; }

.BannerM { grid-area: Banner; }

.KeepYourAlll { grid-area: ThereForYou; }

.FyldTekstM { grid-area: FyldTekst; }

/* .Billede1M { grid-area: Billede1; }

.Billede2M { grid-area: Billede2; }

.Billede3M { grid-area: Billede3; } */

.MaintainAble { 
  grid-area: MaintainAble;
  position: relative;
  top: -62%;
  left: 40%;
  background-color: black;
  color: white;
  height: 30px;
  width: 140px;
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 5px;
  margin-top: -50px;
  font-size: 20px;
}


/*  MaintainAbleSection END */



/*  WhatWeDoSection START */

.WhatWeDoSect {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 2.5fr;
  grid-template-rows: 1fr 0.4fr 1.6fr 1.5fr 1fr;
  gap: 0px 15px;
  grid-template-areas:
    "Knapper . . . ."
    "Banner ThereForYou ThereForYou ThereForYou ThereForYou"
    "Banner FyldTekst FyldTekst FyldTekst FyldTekst"
    "Banner . . . ."
    "Banner . . . WhatWeDo";
  width: 38%;
  position: absolute;
  top: 2%;
  left: 30%;
}

.KnapperM { grid-area: Knapper; }

.BannerM { grid-area: Banner; }

.KeepYourAlll { grid-area: ThereForYou; }

.FyldTekstM { grid-area: FyldTekst; }

/* .Billede1M { grid-area: Billede1; }

.Billede2M { grid-area: Billede2; }

.Billede3M { grid-area: Billede3; } */

.WhatWeDo { 
  grid-area: WhatWeDo;
  position: relative;
  top: -162%;
  left: 25%;
  background-color: black;
  color: white;
  height: 30px;
  width: 140px;
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 5px;
  margin-top: -50px;
  font-size: 20px;
}


/*  WhatWeDoSection END */









@media only screen and (max-width: 600px) {
  /*  FrontSection START */
#FrontSect {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: auto 63% auto;
  grid-template-areas:
      ". . logo"
      "GetInTouch MaintainAble WhatWeDo"
      ". . AndYet";
  position: absolute;
  top: 10%;
  left: 30%;
}

#FrontSect img:nth-of-type(1) {
  grid-area: logo;
  width: 65%;
  position: relative;
  top: 55px;
  left: 74px;
}


#FrontSect img:nth-of-type(2) {
  grid-area: GetInTouch;
}

#FrontSect img:nth-of-type(3) {
  grid-area: MaintainAble;
}

#FrontSect img:nth-of-type(4) {
  grid-area: WhatWeDo;
}

#FrontSect h6 {
  grid-area: AndYet;
  background-color: black;
  color: white;
  font-size: 16px;
  text-align: center;
  position: relative;
  top: 60px;
  left: 6px;
  width: 210px;
  height: 26px;
}


/*  FrontSection END */
}
