body {
  background-color: #efb669;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  padding: 0px;
  display: inline-block;
  z-index: 1000;
}

li {
  display: inline-block;
}


/*  FrontSection START */
#FrontSect {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 15px;
  grid-template-areas:
    "Nav . Logo"
    "B1 B2 B3"
    "B1 B2 B3"
    ". . BundTekst";
  position: relative;
  top: 0em;
  left: 30%;
  width: 700px;
  height: 100vh;
}


#navigation {
  grid-area: Nav;
  z-index: 1000;
  align-self: end;
  position: relative;
  top: 0%;
  left: -47px;
}

.pixel50 {
  width: 50px;
}

#FrontSect #logo {
  grid-area: Logo;
  width: 200px;
  align-self: end;
}


#FrontSect img:nth-of-type(2) {
  grid-area: B1;
  
}

#FrontSect img:nth-of-type(3) {
  grid-area: B2;
  
}

#FrontSect img:nth-of-type(4) {
  grid-area: B3;
  
}

#AYMTM {
  grid-area: BundTekst;
  font-size: 16px;
  margin-top: 240px;
  text-align: center;
  background-color: black;
  color: white;
  width: 240px;
  height: 30px;
  padding: 5px 10px 5px 10px;
  margin-left: -45px;
}



/*  FrontSection END */









/*  GetInTouchSection START */

#GetInTouchSect {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 1fr 50px 300px 1fr;
  gap: 0px 15px;
  grid-template-areas:
    "Nav . Logo"
    "Banner H2 H2"
    "Banner P P"
    "Banner B B"
    ". . BundTekst";
  position: relative;
  top: 0em;
  left: 30%;
  width: 700px;
  height: 100vh;
}

#navigation {
  grid-area: Nav;
  z-index: 1000;
  align-self: end;
}

#GetInTouchSect #logo {
  grid-area: Logo;
  width: 200px;
  align-self: end;
}


#Banner {
  grid-area: Banner;
  
}


#GetInTouchSect .img1G {
  grid-area: B;
  margin-left: 0px;
}

#GetInTouchSect .img1G h5, #GetInTouchSect .img2G h5, #GetInTouchSect .img3G h5{
  margin-left: 15px;
  margin-top: 0px;
}


#GetInTouchSect .img2G {
  grid-area: B;
  margin-left: 150px;
}



#GetInTouchSect .img3G {
  grid-area: B;
  margin-left: 300px;
}




#GIT { 
  grid-area: BundTekst;
  font-size: 20px;
  width: 230px;
  margin-top: 0px;
  text-align: center;
  background-color: black;
  color: white;
  width: 130px;
  padding: 5px 10px 5px 10px;
  margin-left: 55px;
}

#GetInTouchSect h2 {
  grid-area: H2;
}

#GetInTouchSect span {
  color: #d18014;
}

#GetInTouchSect p {
  grid-area: P;
  color: white;
}


/*  GetInTouchSection END */

/*  MaintainAble START */

#MaintainAbleSect {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 1fr 50px 300px 1fr;
  gap: 0px 15px;
  grid-template-areas:
    "Nav . Logo"
    "Banner H2 H2"
    "Banner P P"
    "Banner B B"
    ". . BundTekst";
  position: relative;
  top: 0em;
  left: 30%;
  width: 700px;
  height: 100vh;
}

#navigation {
  grid-area: Nav;
  z-index: 1000;
  align-self: end;
}

#MaintainAbleSect #logo {
  grid-area: Logo;
  width: 200px;
  align-self: end;
}


#Banner {
  grid-area: Banner;
  
}


#MaintainAbleSect .img1G {
  grid-area: B;
  margin-left: 0px;
}

#MaintainAbleSect .img1G h5, #MaintainAbleSect .img2G h5, #MaintainAbleSect .img3G h5{
  margin-left: 15px;
  margin-top: 0px;
}


#MaintainAbleSect .img2G {
  grid-area: B;
  margin-left: 150px;
}



#MaintainAbleSect .img3G {
  grid-area: B;
  margin-left: 300px;
}




#GIT { 
  grid-area: BundTekst;
  font-size: 20px;
  width: 230px;
  margin-top: 0px;
  text-align: center;
  background-color: black;
  color: white;
  width: 130px;
  padding: 5px 10px 5px 10px;
  margin-left: 55px;
}

#MaintainAbleSect h2 {
  grid-area: H2;
}

#MaintainAbleSect span {
  color: #1089ae;
}

#MaintainAbleSect p {
  grid-area: P;
  color: white;
}




#MA { 
  grid-area: BundTekst;
  font-size: 20px;
  width: 230px;
  margin-top: 0px;
  text-align: center;
  background-color: black;
  color: white;
  width: 130px;
  padding: 5px 10px 5px 10px;
  margin-left: 55px;
}


/*  MaintainAbleSection END */



/*  WhatWeDoSection START */

#WhatWeDoSect {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 1fr 50px 300px 1fr;
  gap: 0px 15px;
  grid-template-areas:
    "Nav . Logo"
    "Banner H2 H2"
    "Banner P P"
    "Banner B B"
    ". . BundTekst";
  position: relative;
  top: 0em;
  left: 30%;
  width: 700px;
  height: 100vh;
}

#navigation {
  grid-area: Nav;
  z-index: 1000;
  align-self: end;
}

#WhatWeDoSect #logo {
  grid-area: Logo;
  width: 200px;
  align-self: end;
}


#Banner {
  grid-area: Banner;
  
}


#WhatWeDoSect .img1G {
  grid-area: B;
  margin-left: 0px;
}

#WhatWeDoSect .img1G h5, #WhatWeDoSect .img2G h5, #WhatWeDoSect .img3G h5{
  margin-left: 15px;
  margin-top: 0px;
}


#WhatWeDoSect .img2G {
  grid-area: B;
  margin-left: 150px;
}



#WhatWeDoSect .img3G {
  grid-area: B;
  margin-left: 300px;
}




#WWD { 
  grid-area: BundTekst;
  font-size: 20px;
  width: 230px;
  margin-top: 0px;
  text-align: center;
  background-color: black;
  color: white;
  width: 130px;
  padding: 5px 10px 5px 10px;
  margin-left: 55px;
}

#WhatWeDoSect h2 {
  grid-area: H2;
}

#WhatWeDoSect span {
  color: #045872;
}

#WhatWeDoSect p {
  grid-area: P;
  color: white;
}


/*  WhatWeDoSection END */









@media only screen and (max-width: 600px) {
  /*  FrontSection START */
#FrontSect {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: auto 63% auto;
  grid-template-areas:
      ". . logo"
      "GetInTouch MaintainAble WhatWeDo"
      ". . AndYet";
  position: absolute;
  top: 0%;
  left: 30%;
}

#FrontSect img:nth-of-type(1) {
  grid-area: logo;
  width: 65%;
  position: relative;
  top: 55px;
  left: 74px;
}


#FrontSect img:nth-of-type(2) {
  grid-area: GetInTouch;
}

#FrontSect img:nth-of-type(3) {
  grid-area: MaintainAble;
}

#FrontSect img:nth-of-type(4) {
  grid-area: WhatWeDo;
}

#FrontSect h6 {
  grid-area: AndYet;
  background-color: black;
  color: white;
  font-size: 16px;
  text-align: center;
  position: relative;
  top: 60px;
  left: 6px;
  width: 210px;
  height: 26px;
}


/*  FrontSection END */
}
